<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p style="margin-bottom: 20px;">Hello everyone! I’m Hemangi More, and welcome to Content Crafter!!!</p>
    <p style="margin-bottom: 20px;">This is your personal world of words, where you are free to write any blog you desire. Here, you can share your feelings, inspirations, experiences, and knowledge. You are free birds who can express yourselves and contribute to the creative world around us.</p>
    <p style="margin-bottom: 20px;">I created this blog writing platform to capture memories, and you can rest assured that they are stored securely in a database. This project was built using Node.js, MongoDB, Express, and React (MERN stack), and I’m thrilled to celebrate this small achievement with you. :)</p>
    <p>Let’s ignite our writing spirit together!</p>

  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>